@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: whitex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: start;
}

.innerContainer {
  width: 95%;
  min-width: 800px;
  height: 95%;
  background-color: #FFFFFF;
  filter: drop-shadow(0 4px 5px rgba(0,0,0,0.25));
  border-radius: 13px;
}